<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Your Todo" />
</div>

<input type="submit" name="submit" value="Add ToDo" />
